In [1]:
import tabula as tab
import pandas as pd


pdf_path = '../data/archive/rent_control_pdf/'

In [ ]:
# convert batch to csv
tab.convert_into_by_batch(pdf_path, output_format='csv', pages = 'all')

In [2]:
# get list of files
import glob
import re

files = glob.glob("../data/archive/rent_control_pdf/*.csv")
print(files)

['../data/archive/rent_control_pdf/2020-DHCR-Bldg-Manhattan.csv', '../data/archive/rent_control_pdf/2020-DHCR-Bldg-Staten-Island.csv', '../data/archive/rent_control_pdf/2020-DHCR-Bldg-Queens.csv', '../data/archive/rent_control_pdf/2020-DHCR-Bldg-Brooklyn.csv', '../data/archive/rent_control_pdf/2020-DHCR-Bldg-Bronx.csv']

In [3]:
# load the py function to geocode
%run geocode_buildings_function.py

In [4]:
# Queens Prep
outnames = files[2].split('-')[3]
fileout = "../data/L1/2020-DHCR-Bldg-" + outnames + "_geocoded.csv"
print(fileout)

user_agent = "example app"
data = pd.read_csv(files[2])
    


# BLDGNO1 sometimes has multiple building numbers associated with same building... to avoid replication of same 'address' only take first number
data['BLDGNO1_New'] = data['BLDGNO1'].str.split(' ').str[0]

# CITY and COUNTY # ARE COMBINED FOR QUEENS - LETS SEPARATE THEM
data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

# add series 'Address' which we will use to geolocate
data['Address'] = data['BLDGNO1_New'] + ' ' + data['STREET1'] + ' ' + data['STSUFX1'] + ' ' + data['CITY'] + ' NY ' + data['ZIP']

../data/L1/2020-DHCR-Bldg-Queens.csv_geocoded.csv

/var/folders/0p/rh9j3dm51wn8w8hpwmkfvqkw0000gn/T/ipykernel_30294/4289724873.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

In [5]:
# Apply geocode function to queens dataset

geocode_func(data=data, fileout=fileout,address_col_name="Address")

In [12]:
# Brooklyn Prep
outnames = files[3].split('-')[3]
fileout = "../data/L1/2020-DHCR-Bldg-" + outnames + "_geocoded.csv"
print(fileout)

user_agent = "example app"
data = pd.read_csv(files[3])
    


# BLDGNO1 sometimes has multiple building numbers associated with same building... to avoid replication of same 'address' only take first number
data['BLDGNO1_New'] = data['BLDGNO1'].str.split(' ').str[0]


# CITY and COUNTY # ARE COMBINED FOR QUEENS - LETS SEPARATE THEM
#data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

# add series 'Address' which we will use to geolocate
data['Address'] = data['BLDGNO1_New'] + ' ' + data['STREET1'] + ' ' + data['STSUFX1'] + ' ' + data['CITY'] + ' NY ' + data['ZIP']
data.head()

../data/L1/2020-DHCR-Bldg-Brooklyn.csv_geocoded.csv

,ZIP,BLDGNO1,STREET1,STSUFX1,BLDGNO2,STREET2,STSUFX2,CITY,COUNTY,STATUS1,STATUS2,STATUS3,BLOCK LOT,BLDGNO1_New,Address
0,11201,436,ALBEE,SQ,NaN,NaN,NaN,BROOKLYN,61,MULTIPLE DWELLING A,421-A (1-15),NaN,146 48,436,436 ALBEE SQ BROOKLYN NY 11201
1,11201,131,AMITY,ST,NaN,NaN,NaN,BROOKLYN,61,MULTIPLE DWELLING A,NaN,NaN,291 45,131,131 AMITY ST BROOKLYN NY 11201
2,11201,141,AMITY,ST,NaN,NaN,NaN,BROOKLYN,61,MULTIPLE DWELLING A,NaN,NaN,291 40,141,141 AMITY ST BROOKLYN NY 11201
3,11201,145,AMITY,ST,NaN,NaN,NaN,BROOKLYN,61,MULTIPLE DWELLING A,NaN,NaN,291 38,145,145 AMITY ST BROOKLYN NY 11201
4,11201,147,AMITY,ST,NaN,NaN,NaN,BROOKLYN,61,MULTIPLE DWELLING A,NaN,NaN,291 37,147,147 AMITY ST BROOKLYN NY 11201

In [13]:
# Apply geocode function to brooklyn dataset

geocode_func(data=data, fileout=fileout,address_col_name="Address")

In [14]:
# Manhattan Prep
outnames = files[0].split('-')[3]
fileout = "../data/L1/2020-DHCR-Bldg-" + outnames + "_geocoded.csv"
print(fileout)

user_agent = "example app"
data = pd.read_csv(files[0])
    


# BLDGNO1 sometimes has multiple building numbers associated with same building... to avoid replication of same 'address' only take first number
data['BLDGNO1_New'] = data['BLDGNO1'].str.split(' ').str[0]


# CITY and COUNTY # ARE COMBINED FOR QUEENS - LETS SEPARATE THEM
#data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

# add series 'Address' which we will use to geolocate
data['Address'] = data['BLDGNO1_New'] + ' ' + data['STREET1'] + ' ' + data['STSUFX1'] + ' ' + data['CITY'] + ' NY ' + data['ZIP']
data.head()

../data/L1/2020-DHCR-Bldg-Manhattan.csv_geocoded.csv

,ZIP,BLDGNO1,STREET1,STSUFX1,BLDGNO2,STREET2,STSUFX2,CITY,COUNTY,STATUS1,STATUS2,STATUS3,BLOCK LOT,BLDGNO1_New,Address
0,10001,246,10TH,AVE,NaN,NaN,NaN,NEW YORK,62,MULTIPLE DWELLING A,NaN,NaN,722 3,246,246 10TH AVE NEW YORK NY 10001
1,10001,299,10TH,AVE,NaN,NaN,NaN,NEW YORK,62,MULTIPLE DWELLING A,NaN,NaN,699 31,299,299 10TH AVE NEW YORK NY 10001
2,10001,301,10TH,AVE,NaN,NaN,NaN,NEW YORK,62,MULTIPLE DWELLING A,NaN,NaN,699 32,301,301 10TH AVE NEW YORK NY 10001
3,10001,303 TO 309,10TH,AVE,NaN,NaN,NaN,NEW YORK,62,MULTIPLE DWELLING A,421-A (1-15),NaN,699 33,303,303 10TH AVE NEW YORK NY 10001
4,10001,440,10TH,AVE,NaN,NaN,NaN,NEW YORK,62,MULTIPLE DWELLING A,NaN,NaN,732 73,440,440 10TH AVE NEW YORK NY 10001

In [15]:
# Apply geocode function to brooklyn dataset

geocode_func(data=data, fileout=fileout,address_col_name="Address")

In [20]:
# Bronx Prep
outnames = files[4].split('-')[3]
fileout = "../data/L1/2020-DHCR-Bldg-" + outnames + "_geocoded.csv"
print(fileout)

user_agent = "example app"
data = pd.read_csv(files[4])
    


# BLDGNO1 sometimes has multiple building numbers associated with same building... to avoid replication of same 'address' only take first number
data['BLDGNO1_New'] = data['BLDGNO1'].str.split(' ').str[0]


# CITY and COUNTY # ARE COMBINED FOR QUEENS - LETS SEPARATE THEM
#data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

# add series 'Address' which we will use to geolocate
data['Address'] = data['BLDGNO1_New'] + ' ' + data['STREET1'] + ' ' + data['STSUFX1'] + ' ' + data['CITY'] + ' NY ' + data['ZIP']
data.head()

../data/L1/2020-DHCR-Bldg-Bronx.csv_geocoded.csv

,ZIP,BLDGNO1,STREET1,STSUFX1,BLDGNO2,STREET2,STSUFX2,CITY,COUNTY,STATUS1,STATUS2,STATUS3,BLOCK LOT,BLDGNO1_New,Address
0,10451,3055,3RD,AVE,NaN,NaN,NaN,BRONX,60,MULTIPLE DWELLING A,NaN,NaN,2378 7501,3055,3055 3RD AVE BRONX NY 10451
1,10451,3103,3RD,AVE,NaN,NaN,NaN,BRONX,60,MULTIPLE DWELLING A,NaN,NaN,2380 51,3103,3103 3RD AVE BRONX NY 10451
2,10451,3202,3RD,AVE,NaN,NaN,NaN,BRONX,60,MULTIPLE DWELLING A,J-51,NaN,2620 6,3202,3202 3RD AVE BRONX NY 10451
3,10451,3204,3RD,AVE,NaN,NaN,NaN,BRONX,60,MULTIPLE DWELLING A,NaN,NaN,2620 7,3204,3204 3RD AVE BRONX NY 10451
4,10451,3213,3RD,AVE,491,E 162ND,ST,BRONX,60,MULTIPLE DWELLING A,NaN,NaN,2367 26,3213,3213 3RD AVE BRONX NY 10451

In [21]:
# Apply geocode function to bronx dataset

geocode_func(data=data, fileout=fileout,address_col_name="Address")

In [26]:
# Prep Staten Island
outnames = files[1].split('-')[3]
fileout = "../data/L1/2020-DHCR-Bldg-" + outnames + "_geocoded.csv"
print(fileout)

user_agent = "example app"
data = pd.read_csv(files[1])
    


# BLDGNO1 sometimes has multiple building numbers associated with same building... to avoid replication of same 'address' only take first number
data['BLDGNO1_New'] = data['BLDGNO1'].str.split(' ').str[0]


# CITY and COUNTY # ARE COMBINED FOR QUEENS - LETS SEPARATE THEM
#data['CITY'] = data['CITY COUNTY'].str.replace('\d+', '')

# add series 'Address' which we will use to geolocate
data['Address'] = data['BLDGNO1_New'] + ' ' + data['STREET1'] + ' ' + data['STSUFX1'] + ' ' + data['CITY'] + ' NY ' + data['ZIP']
data.head()

../data/L1/2020-DHCR-Bldg-Staten_geocoded.csv

,ZIP,BLDGNO1,STREET1,STSUFX1,BLDGNO2,STREET2,STSUFX2,CITY,COUNTY,STATUS1,STATUS2,STATUS3,BLOCK LOT,BLDGNO1_New,Address
0,10301,6 TO 14,ARLO,RD,NaN,NaN,NaN,STATEN ISLAND,64,MULTIPLE DWELLING A,GARDEN COMPLEX,NaN,595 15,6,6 ARLO RD STATEN ISLAND NY 10301
1,10301,7,ARLO,RD,NaN,NaN,NaN,STATEN ISLAND,64,MULTIPLE DWELLING A,GARDEN COMPLEX,NaN,593 590,7,7 ARLO RD STATEN ISLAND NY 10301
2,10301,14,ARLO,RD,NaN,NaN,NaN,STATEN ISLAND,64,MULTIPLE DWELLING A,GARDEN COMPLEX,NaN,595 15,14,14 ARLO RD STATEN ISLAND NY 10301
3,10301,15,ARLO,RD,NaN,NaN,NaN,STATEN ISLAND,64,MULTIPLE DWELLING A,GARDEN COMPLEX,NaN,593 590,15,15 ARLO RD STATEN ISLAND NY 10301
4,10301,19,ARLO,RD,NaN,NaN,NaN,STATEN ISLAND,64,MULTIPLE DWELLING A,GARDEN COMPLEX,NaN,593 590,19,19 ARLO RD STATEN ISLAND NY 10301

In [27]:
# Apply geocode function to Staten Island Dataset

geocode_func(data=data, fileout=fileout,address_col_name="Address")